body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
}

.navbar {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #3725dddc;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  margin: 20px auto;
  width: 90%;
  max-width: 900px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.add-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-form input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 15px;
  background: #3725dddc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
}

.truncate {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-btn {
  background: red;
}
